<ion-view title="App Demo" id="page5">
    <ion-content padding="true" class="has-header">
        <div style="line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div id="appDemo-markdown1" style="color:#000000;">
            <p>Información comercio</p>
        </div>
        <a ui-sref="ingresar" id="appDemo-button1" style="font-weight:;" class="button button-balanced  button-block icon ion-android-contact">Ingresar</a>
    </ion-content>
</ion-view>