<ion-view title="Ingresar" id="page6">
    <ion-content padding="true" class="has-header">
        <form id="ingresar-form1" class="list">
            <ion-list id="ingresar-list1">
                <label class="item item-input" id="ingresar-input1">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="ingresar-input2">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="tabsController.ver" id="ingresar-button2" style="font-weight:;" class="button button-stable  button-block">Ingresar</a>
            <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" id="ingresar-button3" style="font-weight:;color:#09328A;" class="button button-calm  button-block button-clear">Crear cuenta</a>
        </form>
    </ion-content>
</ion-view>