<ion-view title="Interes" id="page4">
    <ion-content padding="true" class="has-header">
        <form id="interes-form3" class="list">
            <ion-toggle toggle-class="toggle-positive" id="interes-toggle1">Promociones</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="interes-toggle2">Descuentos</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="interes-toggle3">Membresia</ion-toggle>
        </form>
        <button id="interes-button4" class="button button-positive  button-block">Guardar</button>
    </ion-content>
</ion-view>