<ion-view title="Sugerencias" id="page7">
    <ion-content padding="true" class="has-header">
        <form id="sugerencias-form6" class="list">
            <label class="item item-input" id="sugerencias-input3">
                <span class="input-label">Nombre</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="sugerencias-input4">
                <span class="input-label">Telefono</span>
                <input type="tel" placeholder="">
            </label>
            <label class="item item-input" id="sugerencias-input5">
                <span class="input-label">E-mail</span>
                <input type="email" placeholder="">
            </label>
            <label class="item item-input" id="sugerencias-textarea2">
                <span class="input-label">Escribenos</span><textarea placeholder=""></textarea>
            </label>
        </form>
        <button id="sugerencias-button5" class="button button-calm  button-block">Enviar</button>
    </ion-content>
</ion-view>